# https://help.github.com/articles/dealing-with-line-endings/

# Global default
* text      eol=lf

# Source files
*.gradle    text
*.java      text

# Configuration
*.json      text
*.xml       text
*.yml       text

# Documentation
*.md        text
LICENSE     text

# Windows scripts
*.bat       text eol=crlf
